# .gitignore

# Sistema
.DS_Store
Thumbs.db

# Ambientes
.env
.env.local
.env.*.local

# Node (caso use no futuro)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel/
output/

# VSCode
.vscode/

# Git
*.log
*.tmp

# Sistema operacional
__MACOSX/
*.swp

# Build
dist/
build/
